				<div class="col-block1 block1">
					<div class="block1padding">
                		<div class="border-bottom title">{TITLE}</div>
                		<div class="click1" id="a1_{ID}">
	                		<div class="speed1{CLASS}">{SPEED}</div>
    	            		<div class="clear"></div>
    	            		<div class="price1 border-bottom">{PRICE}{FREE}</div>
        	        		<div class="arrow1"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        	        	</div>
                		<div class="url1"><a id="a2_{ID}" href="{URL}">узнать подробнее на сайте www.sknt.ru</a></div>
                	</div>
           			<div class="gray_line border-bottom border-top"></div>
				</div>
