				<div class="col-block1 block1">
					<div class="block1padding">
                		<div class="period border-bottom">{PAY_PERIOD}</div>
                		<div class="click1" id="a2_{ID}">
	                		<div class="price2">{PRICE}</div>
    	            		<div class="pay">{PRICE_ONE}</div>
       		        		<div class="arrow1"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
       		        	</div>
                	</div>
           			<div class="gray_line border-bottom border-top"></div>
				</div>
