<div id="page3">
	<div id="page2arrow_back">
		<a id="a2_{PAGEID2}" href="/"><i class="fa fa-chevron-left arrow_back" aria-hidden="true"></i></a>
	</div>
	<div id="page3h">
		<h1 id="page2h1">Выбор тарифа</h1>
	</div>
</div>
<div class="gray_line2 border-bottom border-top"></div>
<div class="clear"></div>
<div class="title3 border-bottom">{TITLE}</div>
<div class="period3">{PAY_PERIOD}</div>
<div class="pay3">{PRICE}</div>
<div class="date3">{DATE}</div>
<div class="booking3">Выбрать</div>


